services:
  cross-compile:
    build: .
    container_name: cross-compile
    env_file: .env

    # Allow attaching to the container.
    stdin_open: true
    tty: true

    # Required to allow fuse and sshfs to work.
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse

    volumes:
      - ./linux-raspberrypi-kernel_1.20210527-1:/build/linux
      - ./modules:/build/modules
      - ./.ssh/:/root/.ssh/
